{% extends 'site.html' %}
{% load static %}

{% block title %}Калькулятор{% endblock %}


{% block body %}

    <!-- <section class="calculator-block" style="padding: 40px 0; text-align: center;">
        <div class="container">
            <iframe src="//service-online.su/text/calc/calc1-01.php"
                    scrolling="no"
                    frameborder="0"
                    height="370px"
                    width="650px"
                    marginheight="0"
                    marginwidth="0"
            ></iframe>
        </div>
    </section> -->

    <section class="block13">
        <div class="container">
            <div class="section__title">Сотрудничество</div>
            <div class="sales__block">
                {% for sale in offers %}
                <div class="sales__item">
                    <div class="title">{{ sale.title }}</div>
                    <div class="text">{{ sale.text|safe }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}