{% extends 'site.html' %}

{% block title %}Акции{% endblock %}

{% block body %}

    <section class="block13">
        <div class="container">
            <div class="section__title">МЕТАЛЛОТРЕЙДЕРАМ</div>
            <p style="margin: 40px 0;">
                ООО «Алкам плюс» является производителем высококачественных полуфабрикатов из
                алюминиевых сплавов.<br><br>
                Наши производственные мощности позволяют осуществлять термообработку, отжиг,
                искусственное старение, готовых изделий и полуфабрикатов из термоупрочняемых алюминиевых
                сплавов, а именно плит и листов из сплавов Д16АТ, Д1АТ, Д20АТ, ВД1Т, 1105Т, В95Т, АД31Т, АД33Т,
                АД35Т в соответствии с ГОСТ 21631-76 / ГОСТ 17232-99 и другими стандартами РФ.<br><br>
                За счет наличия квот на ведущих заводах – изготовителях, а так же собственного парка
                оборудования, Вы всегда можете приобрести алюминиевый прокат из сплавов Д16АТ, А5, АМЦ,
                АД, АМГ по выгодным ценам.<br><br>
                Предлагаем сотрудничество по поставкам продукции заказчикам в странах ближнего и дальнего
                зарубежья со ставкой НДС 0%. Имеем положительный опыт работы по экспорту нашей продукции
                в страны СНГ и ЕС.<br><br>
                Наряду с термической обработкой, мы предлагаем следующие услуги по механической обработке
                полуфабрикатов:<br><br>
                -Правка и резка листов из цветных металлов, в том числе резка на карточки;<br>
                -Резка рулонного алюминия на листы всех сплавов, в том числе в нестандартный размер по ширине и
                длине;<br>
                -Резка алюминиевых плит всех сплавов в размер по чертежам, резка прутков большого диаметра.<br><br>
                Специальные условия для крупных оптовиков-металлотрейдеров по давальческой схеме:<br><br>
                -оказание услуг по термической обработке Вашего сырья (листов и плит);<br>
                -оказание услуг по резке лент в листы нужного раскроя;<br><br>
                Таким образом, это позволит Вам увеличить маржинальность, при последующей продаже данной
                продукции и в то же время позволит сохранить объемы закупа продукции на заводах-
                производителях в соответствии Вашими контрактными обязательствами.
            </p>
{#            <div class="sales__block">#}
{#                {% for sale in sales %}#}
{#                    <div class="sales__item">#}
{#                        <div class="title">{{ sale.title }}</div>#}
{#                        <div class="text">{{ sale.text|safe }}</div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
        </div>
    </section>

{% endblock %}