{% extends 'site.html' %}
{% load static %}
{% block title %}Услуги{% endblock %}

{% block body %}

<section class="block14">
				<div class="container">
					<div class="section__title">Оказываем комплекс услуг <span>по обработке металлопроката</span></div>
					<div class="block14__tabs block11__tabs">
                        {% for category in categories %}
						<div class="block14__tab block11__tab{% if forloop.counter == 1 %} block11__tab-active{% endif %}">
                            <span>{{ category.title }}</span>
                        </div>
                        {% endfor %}
					</div>
					<div class="block14__items">
                        {% for category in categories %}
						<div class="block14__item{% if forloop.counter == 1 %} block14__item-active{% endif %}">
                            {% for item in category.service_set.all %}
							<div style="background-image: url('/{{ item.image.url }}');" class="block14__card">
								<div class="title">{{ item.title }}</div>
							</div>
                            {% endfor %}
						</div>
                        {% endfor %}
					</div>
				</div>
			</section>
			<section class="block15 block19"><img src="{% static 'img/block19/bg.png' %}" alt="" class="block__bg"/>
				<div class="container">
					<div class="block15__flex">
						<div class="section__title">Услуги по резке металлопроката</div>
						<div class="text">Наша компания предлагает полный комплекс услуг по резке цветного металлопроката в размер: <br><br>Правка и резка алюминиевых листов всех сплавов, в том числе на карточки; Резка плит в размер по чертежам, резка прутков; Резка рулонного алюминия и его сплавов на листы в том числе в нестандартный раскрой по ширине и длине.</div>
					</div>
					<div class="block15__flex">
						<div class="section__title">Услуги по термообработке металлопроката</div>
						<div class="text">Мы предлагаем полный комплекс услуг по термической обработке алюминиевых полуфабрикатов. Наши специалисты готовы выполнить работы любой сложности «под ключ» в рамках серийного изготовления или индивидуального заказа. В нашем распоряжении достаточно мощная техническая база, которая позволяет выполнять любой из видов металлообработки, чтобы изготовить изделие высокого качества в полном соответствии с требованиями технического задания. <br><br>Наши сотрудники – высококлассные специалисты с высшим техническим металлургическим образованием и большим опытом работы на крупных металлургических производствах. Мы знаем, что делаем.</div>
					</div>
				</div>
			</section>
			<!-- <section class="block15"><img src="{% static 'img/block15/bg.png' %}" alt="" class="block__bg"/>
				<div class="container">
					<div class="block15__flex">
						<div class="section__title">Услуги по обработке <br>металлопроката</div>
						<div class="text">Наша компания предлагает полный комплекс услуг по термической обработке металлов. Наши специалисты готовы выполнить работы любой сложности «под ключ» в рамках серийного изготовления деталей или индивидуального заказа. <br><br>Мы несём финансовую ответственность за соблюдение сроков, оговоренных в договоре: при их несоблюдении будет предоставлена скидка. У нас есть достаточно мощная техническая база, которая позволяет выполнять любой из видов металлообработки, чтобы изготовить изделие высокого качества в полном соответствии с требованиями технического задания.</div>
					</div>
				</div>
			</section> -->
			<section class="block7 block16">
				<div class="container">
					<form class="block7__form" action="{% url 'send_form' %}">
						<div class="section__title">Необходимы услуги по <br>резке или термообработке <br>металлопроката ?</div>
						<div class="descriptor">Звоните, мы выполним любые задачи <br>в кратчайшие сроки</div>
						<input type="text" name="name" placeholder="Введите имя"/>
						<input type="text" name="phone" placeholder="Введите телефон" required="required"/>
						<textarea name="text" placeholder="Укажите необходимые задачи"></textarea>
                        {% csrf_token %}
						<input type="hidden" name="type" value="Заявка на КП / Услуги"/>
						<button class="button">Заказать звонок</button>
						<div class="checkbox">
							<input type="checkbox" id="c1" value="1" name="polit" required/>
							<label for="c1">
								<div class="box"><img src="{% static 'img/icons/check.png' %}" alt=""/></div><span>Я принимаю условия политики конфиденциальности <br>и даю сагласие на обработку персональных данных</span>
							</label>
						</div>
					</form><img src="{% static 'img/block16/1.jpg' %}" alt="" class="block16__img"/>
				</div>
			</section>


{% endblock %}